body {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
.star {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: yellow;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 100px;
    perspective: 500px;
    text-align: justify; 
}
.text {
    position: relative;
    top: 100vh;
    transform-origin: 50% 100%;
    animation: text 30s linear;
}
.text h1 {
    text-align: center;
}
@keyframes text {
    0% {
    top: 110vh;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
